<div class="templatemo_box">
    <h2><span></span>Шымкент</h2>



    <div class="box_bottom"><span></span></div>
</div>

</div> <!-- end of left_sidebar -->

<div id="templatemo_content">

    <div class="templatemo_box">
        <h2><span></span>Менің Шымкентіме Қош Келдіңіз!</h2>

        <div class="body">

            <p><a href="http://www.templatemo.com" target="_parent">Шымкент-өте керемет қала.</a> Жер жәннәті! <a href="http://www.photovaco.com" target="_blank">Тұрғындары өте қонақ жай</a> Қазақстан бойынша үшінші орынды алып тұрған қала.Аумағы жағынанда үлкен.</p>

        </div>

        <div class="box_bottom"><span></span></div>
    </div>

    <div class="templatemo_box">
        <h2><span></span>Танымал жерлері</h2>

        <div class="body">

            <div class="news_box">
                <a href="#"><img class="news_image" src="images/templatemo_image_06.jpg" alt="image" /></a>
                <h3><a href="#">Қазығұрт</a></h3>
                <p>Қазығұрт-таулы,сұлу өлке.Ол жерде Қазығұрт тауы орналасқан.Қазығұрттың басында кеме қалған,ол киелі болмаса неге қалған</p>

                <div class="cleaner"></div>
            </div>

            <div class="news_box">
                <a href="#"><img class="news_image" src="images/templatemo_image_07.jpg" alt="image" /></a>
                <h3><a href="#">Түлкібас</a></h3>
                <p>Түлкібас-таулы аймақ.Аумағы жағынан улкен,ауылдары өте көп.Ол жерге кез келген жыл мезгілінде туристер келіп демалып кетеді.</p>
                <div class="cleaner"></div>
            </div>

            <div class="news_box">
                <a href="#"><img class="news_image" src="images/templatemo_image_08.jpg" alt="image" /></a>
                <h3><a href="#">Түркістан</a></h3>
                <p> Түркістан қаласы-өте киелі қала.Ол жерде А.Йасауи,Арыстан баб кесенелерң орналасқан.Түркістанның көркіне көз тоймайды.</p>
                <div class="cleaner"></div>
            </div>