<div class="more float_r"><a href="#">View All</a></div>

<div class="cleaner"></div>

</div>

<div class="box_bottom"><span></span></div>
</div>

</div> <!— end of templatemo_content —>

<div id="templatemo_right_sidebar">

    <div class="templatemo_box">
        <h2><span></span>Қонақ келетін жерлер</h2>

        <div class="body">

            <ul class="side_menu">
                <li><a href="#">Абай паркі</a></li>
                <li><a href="#">Дендро парк</a></li>
                <li><a href="#">Қиял әлемі</a></li>
                <li><a href="#">Rixos</a></li>
                <li><a href="#">Шымкент қонақ үйі</a></li>
                <li><a href="#">Біркөлік</a></li>
                <li><a href="#">Машат</a></li>
                <li><a href="#">Шардара</a></li>
            </ul>




        </div> <!— end of right_sidebar —>

        <div class="cleaner"></div>

    </div> <!— end of templatemo_content_wrapper —>

</div> <!— end of templatemo_wrapper —>

<div id="templatemo_footer_wrapper">

    <div id="templatemo_footer">

        <ul class="footer_menu">

            <li><a href="#">Біз туралы</a></li>

            <li><a href="#">Халық жағдайы</a></li>

            <li><a href="#">Спорт</a></li>

            <li><a href="#">Бизнес</a></li>
            <li><a href="#">Суреттер</a></li>
            <li><a href="#">Видеолар</a></li>
        </ul>





    </div> <!— end of footer —>
</div> <!— end of templatmeo_footer_wrapper —>
</body>
</html>
Перейти в конец истории
Выбрать файлы
Ещё
Напишите сообщение…


